@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Special+Elite&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    background: #000;
    color: #fff;
}

#spores {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

.intro-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    padding-top: 20vh;
}

.intro-title {
    font-size: 4.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.episode {
    font-size: 1.6rem;
    opacity: 0.8;
font-family:'Calibri';
    margin-top: 5px;
}

.start-btn {
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1.3rem;
    border: 1px;
    border-radius: 14px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    background: rgba(255,255,255,0.1);
}

.container {
    text-align: center;
    padding-top: 8vh;
}

.photo-frame {
    width: 260px;
    margin: 0 auto 30px auto;
    padding: 10px;
    background: #222;
    border: 3px solid #555;
    border-radius: 8px;
    //transform: rotate(-2deg);
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.photo-frame img {
    width: 100%;
    filter: contrast(0.8) grayscale(0.4);
}

.frame-label {
    font-family: "Special Elite";
    padding-top: 5px;
    opacity: 0.7;
}

.message {
    max-width: 600px;
    margin: 0 auto 30px auto;
    animation: fadeIn 1s;
    opacity: 0.8;
    line-height: 1.6;
}

.knife-btn {
    align-items: center;
    gap: .6rem;
    padding: .85rem 1.1rem;
    font-weight: 700;
    border-radius: 14px;
    border: 2px solid #3a3a3a;
    background: #151515;
    color: #f5f5f5;
    cursor: pointer;
    transition: 0.3s;
}


.knife-btn:hover { transform: translateY(-1px); border-color: #3a3a3a; }
.knife-btn:active { transform: translateY(0); }

.gift {
    margin-top: 30px;
    font-size: 1.5rem;
    animation: fadeIn 1s;
    opacity: 0.7;
}

.signature {
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.7;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
